@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

* {
    font-family: 'Pretendard-Regular';
    margin:0px;
    padding:0px;
}

#test li a img {
  width: 500px;
  height: auto;
}
#test {
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
  text-align: center;
}

#test li {
  flex: 0 0 50%; /* 각 li 요소를 컨테이너 폭의 50%로 설정합니다. */
  list-style-type: none;
  margin-top: 50px;
}

.header img {
    float:left;
    margin: 20px;
    width: 50px;
}

.header h3{
    float:left;
    padding-top: 30px;
    font-weight:bolder;
    color:rgb(158, 158, 158)
}
.header span {
    color:rgb(39,174,96);
}


.title h1 {
    padding-top: 20px;
    padding-left: 680px;
    color:black;
}

hr {
    width: 1500px;
    margin: 20px 20px;
    border: 1px solid gray;
}

#dropBox {
    float:left;
    margin-top: 50px;
    margin-left: 500px;
}

#content {
    margin-top: 50px;
    margin-left: 20px;
    height: 40px;
    width: 400px;
    /*margin-left: 500px;
    margin-right: 5px;
    height: 40px;
    width: 400px;*/
}

#search {
    position: absolute;
    margin-top: 50px;
    margin-left: 2px;
    height: 45px;
    width:40px;
    background-color: black;
    color:white;
}

#search:hover{
    background-color: gray;
    color:white;
}

#dropBox{
    margin-top: 65px;
}

section iframe {
    margin-top: 50px;
    margin-left: 500px;
}