/** {
    margin:0px;
    padding:0px;
}*/
/*.header::after{
    display:block;
    clear:both;
    content:"";
}*/

.header img {
    float:left;
    margin: 20px;
    width: 50px;
}

.header h3{
    float:left;
    padding-top: 30px;
    font-weight:bolder;
    color:rgb(158, 158, 158)
}
.header span {
    color:rgb(39,174,96);
}


.title h1 {
    padding-top: 20px;
    padding-left: 680px;
    color:black;
    font-style: italic;
}

hr {
    width: 1500px;
    margin: 20px 20px;
    border: 1px solid gray;
}

.category {
    text-align: center;
    align-items: center;
    margin: auto;
}

.category::after{
    display:block;
    clear:both;
    content:"";
}

.category header h2{ /*내게 필요한 정보는?*/
    color:gray;
    text-align: center;
    padding-top: 20px;
}

.category section { /*카테고리 버튼*/
    /*display: inline-block;*/
    float:left;
    /*margin-top: 50px;
    margin-left: 110px;*/
    margin: 100px;
    height: 400px;
    width: 245px;
    background-color:rgba(183, 204, 161, 0.33);
    text-align: center;
    border-radius: 15px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.26);
}

.category h3{
    text-align: center;
    padding-top: 60px;

}

.category img{
    padding-top: 50px;
}

.category hr{
    width: 180px;
    /*margin: 0px auto;*/
    margin: 30px  30px  0px;
    border: 1px solid gray;
}

.category p{
    text-align: center;
}

#mainCate {
    display: inline-flex;
    align-items: center;
    text-align: center;
}